{# Подключение блоков #}
{% macro include(block) %}
  {% set params = block %}

  {% filter nowhereHref %}
    {% filter bem(block.name) %}
      {% include block.name | blockPath %}
    {% endfilter %}
  {% endfilter %}
{% endmacro %}

{% macro includes(blocks) %}
  {% for block in blocks %}
    {{ include(block) }}
  {% endfor %}
{% endmacro %}

{% include "source/blocks/page/page.njk" %}
