.page {
  min-width: 320px;
  font-size: 13px;
  line-height: (24 / 13);
  font-family: $font-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

.page__body {
  min-width: 960px;
  margin: 0;
}
