@mixin font-face ($family, $weight, $style, $url, $local, $local-alter) {
  @font-face {
    font-weight: $weight;
    font-family: "#{$family}";
    font-style: $style;
    font-display: swap;
    src: local("#{$local}"), local("#{$local-alter}"), url("../fonts/#{$url}.woff2") format("woff2"), url("../fonts/#{$url}.woff") format("woff");
  }
}

@mixin background-image ($pict, $ext) {
  background-image: url("../img/#{$pict}.#{$ext}");

  @media ($webp) {
    background-image: url("../img/#{$pict}.webp");
  }
}

@mixin chevron ($thickness: 2px, $size: 100%, $roundness: 0, $color: inherit) {
  display: block;
  box-sizing: border-box;
  width: $size;
  height: $size;
  color: $color;
  border-bottom: $thickness solid;
  border-left: $thickness solid;
  border-radius: $roundness;
}
