@include font-face(PT Sans, 400, normal, ptsans, PT Sans, PTSans-Regular);
@include font-face(PT Sans, 700, normal, ptsans-bold, PT Sans Bold, PTSans-Bold);

a {
  color: inherit;
  text-decoration-skip-ink: none;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: color, opacity, background-color, border-color, box-shadow;
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
}
