$color-text: #32425c;

$color-accent: #ee3643;
$color-accent-2: #ca2c37;
$color-accent-3: #ba2732;
$color-accent-4: #b6242f;
$color-accent-5: #ef3341;

$color-alter: #63a63e;
$color-alter-2: #5fbb2d;
$color-alter-3: #518534;
$color-alter-4: #367315;

$color-back: #f4f7f9;
$color-back-dark: #293449;
$color-back-dark-2: #212a3a;
$color-back-dark-3: #161d29;
$color-back-dark-4: #243147;
$color-back-dark-5: #172236;

$color-icon: #c5c5c5;
$color-border: #eaeaea;
$color-del: #999999;
$color-del-index: #a9a9a9;

$font-base: "PT Sans", "Arial", sans-serif;
$font-design: "Cuprum", "Arial", sans-serif;

$webp: "-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm";
