$color-brand: #2f1b15;
$color-back: #797979;
$color-field: #231f20;
$color-text: #3d3d3d;
$color-link: #1f5f97;

$mobile: "max-width: 767px";
$tablet: "min-width: 768px";
$desktop: "min-width: 1000px";
$webp: "-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm";
