<label class="field">
  <span class="&__label {{ params.labelMix }}">{{ params.label }}</span>

  {% if params.type !== "textarea" %}
    <input class="&__input {{ params.inputMix }}" type="{{ params.type }}" value="{{ params.value }}" {{ fieldBase(params) }}>
  {% else %}
    <textarea class="&__input &__input--message" {{ fieldBase(params) }}>{{ params.value }}</textarea>
  {% endif %}
</label>
