.field__input {
  box-sizing: border-box;
  width: 100%;
  font: inherit;
  -webkit-text-fill-color: currentColor;
  border: none;
  outline: none;
  box-shadow: none;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: color, background-color, border, box-shadow;
  appearance: textfield;

  &:-webkit-autofill {
    box-shadow: none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }

  // Не объединять с другими псевдоэлементами
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &--message {
    overflow: auto;
    resize: none;
  }
}
