{% macro fieldBase(params) %}
  name="{{ params.name }}"
  {{ "placeholder=\"" + params.placeholder + "\"" if params.placeholder }}
  {{ "required" if params.required }}
  {{ "disabled" if params.disabled }}
{% endmacro %}
