<section class="catalog {{ params.mix }}">
  {% if params.header %}
    <header class="__header">
      <h2 class="__heading">
        {{ params.header.heading }}
      </h2>

      <a href="{{ params.header.link.href }}" class="__headlink button">
        {{ params.header.link.title }}
      </a>
    </header>
  {% endif %}

  <ul class="__list">
    {% for item in params.items %}
      <li class="__item {{ "__item--only-picture" if not item.content }} {{ item.mix }}">
        {{ include(item.picture) }}
        {% if item.content %}
          <ul class="__context-links">
            <li>
              <a class="__context-link __context-link--buy" href="{{ item.hrefs.bookmark }}">
                {{ titles.buy }}
              </a>
            </li>
            <li>
              <a class="__context-link" href="{{ item.hrefs.bookmark }}">
                {{ titles.toBookmarks }}
              </a>
            </li>
          </ul>

          <h3 class="__item-title">
            <a href="{{ item.content.href }}">
              {{ item.content.title }}
            </a>
          </h3>
          {% if item.content.oldPrice %}
            <del class="__price __price--del {{ "__price--del-index" if isIndex }}">
              {{ item.content.oldPrice }}
            </del>
          {% endif %}
          <a class="__price __price--actual" href="item.content.priceHref">
            {{ item.content.price }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</section>
