{% set links = params.authorized if authorized else params.notAuthorized %}

{% if params.itemMix %}
  {% set itemClass %}
    class="{{ params.itemMix}}"
  {% endset %}
{% endif %}

<ul class="profile {{ params.mix }}">
  {% for link in links %}
    <li {{ itemClass }}>
      <a class="{{ link.mix }}" href="{{ link.href }}">
        {{ include(link.icon) if link.icon }}
        {{ link.text }}
      </a>
    </li>
  {% endfor %}
</ul>
